<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Giới thiệu"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      <div class="block-container introduction">
        @@include('../partials/breadcrumb.html')
        <div class="container-fluid">
          <div class="row">
            <div class="center">
              <div class="col-xs-12">
                <h3 class="block-title has-line bottom text-left pt35"><span class="text pl0">Giới thiệu công ty</span></h3>
                <div class="block-content">
                  <h4 class="intro-title">ĐẢO CHÀM TRAVEL</h4>
                  <p class="intro-text">Tiêu chí "Lời nói đi cùng với chất lượng"</p>
                  <div class="content">
                    <img src="images/image-intro-1.png" alt="" />
                    <p class="text">Ra đời với tâm huyết của những người con phố Hội, mong muốn mang hình ảnh của quê hương đến gần hơn với bạn bè trong nước và quốc tế, trải qua gần 4 năm hoạt động Đảo Chàm Travel đã trở thành một doanh nghiệp có chỗ đứng vững chắc và sở hữu một bộ máy chuyên nghiệp trong lĩnh vực kinh doanh lữ hành, tổ chức các tour du lịch Miền Trung, bao gồm các tour du lịch sinh thái, du lịch biển đảo, làng nghề,… tận dụng thế mạnh du lịch địa phương. Bên cạnh đó, chúng tôi còn đầu tư và phục vụ một hệ thống phương tiện vận tải hành khách đường bộ và đường thủy khá đa dạng và hiện đại, các loại hình thể thao biển mới lạ hướng đến phục vụ ngày càng tốt hơn mọi đối tượng khách hàng cả trong và ngoài nước.</p>
                    <img src="images/image-intro-2.png" alt="" />
                    <p class="text">Với tiêu chí “ Lời nói đi cùng với chất lượng”, đem đến cho du khách những trải nghiệm hoàn hảo và dịch vụ chất lượng nhất trong mỗi chuyến đi, chúng tôi đã chứng minh được điều đó không chỉ bằng lời nói mà còn là niềm tin của khách hàng vào thương hiệu và sự phát triển bền vững cho đến ngày hôm nay. 
                    Qua đây, Đảo Chàm Travel rất mong nhận được nhiều hơn nữa sự tin tưởng và quan tâm của quý khách hàng để chất lượng dịch vụ của chúng tôi ngày càng được nâng cao, phục vụ tối ưu thị trường du lịch trong nước, đến gần hơn với thị trường du lịch nước ngoài và đồng hành cùng quý vị trên mọi nẻo đường. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="list-introduction">
              <div class="center">
                <div class="block-content">
                  <ul class="list">
                    <li class="item col-sm-3">
                      <img src="images/planet-earth.svg" alt="" />
                      <p class="text">Đơn vị thuộc Hiệp hội Du lịch Cù Lao Chàm</p>
                    </li>
                    <li class="item col-sm-3">
                      <img src="images/pictures.svg" alt="" />
                      <p class="text">Cung cấp dịch vụ hoàn hảo và chất lượng.</p>
                    </li>
                    <li class="item col-sm-3">
                      <img src="images/tourist.svg" alt="" />
                      <p class="text">Đội ngũ nhân viên chuyên nghiệp và nhiệt tình.</p>
                    </li>
                    <li class="item col-sm-3">
                      <img src="images/hot-air-balloon.svg" alt="" />
                      <p class="text">Luôn mở rộng và đa dạng về các loại hình tour.</p>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="bg-gallery-blue">
              <div class="center">
                <div class="block-content">
                  <h3 class="block-title has-line pt40 pb30"><span class="text">KHÁCH HÀNG NÓI VỀ ĐẢO CHÀM TRAVEL</span></h3>
                  <ul class="list-customer-review">
                    <li class="item col-sm-4">
                      <span class="ficon-quote"></span>
                      <div class="avatar-image" style="background-image: url(images/image-avatar-1.png);">
                        <img src="images/image-avatar-1.png" alt="" />
                      </div>
                      <p class="description">Sau khi tham gia cùng đoàn trong chuyến du thuyền Cù Lao Chàm, tôi đã thấy được những giá trị thụ hưởng thật sự trong một chuyến du lịch là như thế nào. Nó giúp tôi có một quãng thời gian vui vẻ hoàn toàn.</p>
                      <p class="name">Ông Thôi Hiển Chính</p>
                      <p class="pos">Chủ tịch tập đoàn VGA</p>
                    </li>
                    <li class="item col-sm-4">
                      <span class="ficon-quote"></span>
                      <div class="avatar-image" style="background-image: url(images/image-avatar-2.png);">
                        <img src="images/image-avatar-2.png" alt="" />
                      </div>
                      <p class="description">Sau khi tham gia cùng đoàn trong chuyến du thuyền Cù Lao Chàm, tôi đã thấy được những giá trị thụ hưởng thật sự trong một chuyến du lịch là như thế nào. Nó giúp tôi có một quãng thời gian vui vẻ hoàn toàn.</p>
                      <p class="name">Ông Dương Anh Hào</p>
                      <p class="pos">Chủ tịch tập đoàn VGA</p>
                    </li>
                    <li class="item col-sm-4">
                      <span class="ficon-quote"></span>
                      <div class="avatar-image" style="background-image: url(images/image-avatar-3.png);">
                        <img src="images/image-avatar-3.png" alt="" />
                      </div>
                      <p class="description">Sau khi tham gia cùng đoàn trong chuyến du thuyền Cù Lao Chàm, tôi đã thấy được những giá trị thụ hưởng thật sự trong một chuyến du lịch là như thế nào. Nó giúp tôi có một quãng thời gian vui vẻ hoàn toàn.</p>
                      <p class="name">Ông Nguyễn Hữu Hiếu</p>
                      <p class="pos">Chủ tịch tập đoàn VGA</p>
                    </li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="center">
              <div class="block-content partner-content">
                <h3 class="block-title has-line pt30 pb30"><span class="text">KHÁCH HÀNG NÓI VỀ ĐẢO CHÀM TRAVEL</span></h3>
                <ul class="list-partner-logo">
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-1.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-2.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-3.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-4.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-5.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-6.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-7.png" class="image" alt="" />
                  </li>
                  <li class="item col-sm-6 col-md-3">
                    <img src="images/image-partner-8.png" class="image" alt="" />
                  </li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>