<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Tour - Chi tiết"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      <div class="block-container news-page-container">
        @@include('../partials/breadcrumb.html')
        <div class="container-fluid">
          <div class="row">
            <div class="center">
              <div class="col-xs-12 col-sm-8 col-md-9 pb20">
                <div class="row">
                  <h3 class="block-title has-line bottom text-left ml15 mr15 pt35"><span class="text pl0">Tour Cù Lao Chàm 1 ngày 1 đêm</span></h3>
                  <p class="page-introduction pt10"><b>Cù Lao Chàm</b> là một cụm đảo thuộc xã đảo Tân Hiệp, thành phố Hội An, tỉnh Quảng Nam, cách bờ biển Cửa Đại 15km,  cách Hội An tầm khoảng 18km Đây là khu vực được UNESCO công nhận là Khu dự trữ sinh quyển thế giới vào năm 2009. Du lịch Cù Lao Chàm mấy năm trở lại đây thu hút khá nhiều du khách bởi vẻ đẹp hoang sơ của các bãi biển, và dịch vụ du lịch ổn định. Nếu có dịp đi miền trung Huế, Đà Nẵng, Hội An  thì nhất định phải ghé Cù Lao Chàm - một thiên đường biển tuyệt đẹp ấy lòng du khách.</p>
                  <div class="tour-detail">
                    <div class="tab-container">
                      <div class="tab-header">
                        <ul class="list">
                          <li class="tab-header-item">
                            <a href="#tab-1" class="item active">Lịch trình</a>
                          </li>
                          <li class="tab-header-item">
                            <a href="#tab-2" class="item">Thông tin chi tiết</a>
                          </li>
                          <li class="tab-header-item">
                            <a href="#tab-3" class="item">Điều khoản sử dụng</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div id="tab-1" class="tab-item">
                          <div class="list-schedule">
                            <li class="item">
                              <div class="image" style="background-image: url(images/image-schedule-1.png);">
                                <img src="images/image-schedule-1.png" alt="" />
                              </div>
                              <div class="info">
                                <h5 class="item-title"><a href="#">Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</a></h5>
                                <p class="description">Trải nghiệm cảm giác sảng khoái khi đi cano cao tốc cỡi sóng Cù Lao, thư giãn với tắm biển &amp; lặn ngắm san hô snorkeling cùng các trò chơi trên biển, khu trò chơi nhà phao trên biển dành cho trẻ em, thưởng thức cơm trưa hải sản 12 món tại Cù Lao Chàm.</p>
                              </div>
                            </li>
                            <li class="item">
                              <div class="image" style="background-image: url(images/image-schedule-1.png);">
                                <img src="images/image-schedule-1.png" alt="" />
                              </div>
                              <div class="info">
                                <h5 class="item-title"><a href="#">Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</a></h5>
                                <p class="description">Trải nghiệm cảm giác sảng khoái khi đi cano cao tốc cỡi sóng Cù Lao, thư giãn với tắm biển &amp; lặn ngắm san hô snorkeling cùng các trò chơi trên biển, khu trò chơi nhà phao trên biển dành cho trẻ em, thưởng thức cơm trưa hải sản 12 món tại Cù Lao Chàm.</p>
                              </div>
                            </li>
                            <li class="item">
                              <div class="image" style="background-image: url(images/image-schedule-1.png);">
                                <img src="images/image-schedule-1.png" alt="" />
                              </div>
                              <div class="info">
                                <h5 class="item-title"><a href="#">Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</a></h5>
                                <p class="description">Trải nghiệm cảm giác sảng khoái khi đi cano cao tốc cỡi sóng Cù Lao, thư giãn với tắm biển &amp; lặn ngắm san hô snorkeling cùng các trò chơi trên biển, khu trò chơi nhà phao trên biển dành cho trẻ em, thưởng thức cơm trưa hải sản 12 món tại Cù Lao Chàm.</p>
                              </div>
                            </li>
                            <li class="item">
                              <div class="image" style="background-image: url(images/image-schedule-1.png);">
                                <img src="images/image-schedule-1.png" alt="" />
                              </div>
                              <div class="info">
                                <h5 class="item-title"><a href="#">Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</a></h5>
                                <p class="description">Trải nghiệm cảm giác sảng khoái khi đi cano cao tốc cỡi sóng Cù Lao, thư giãn với tắm biển &amp; lặn ngắm san hô snorkeling cùng các trò chơi trên biển, khu trò chơi nhà phao trên biển dành cho trẻ em, thưởng thức cơm trưa hải sản 12 món tại Cù Lao Chàm.</p>
                              </div>
                            </li>
                          </div>
                        </div>
                        <div id="tab-2" class="tab-item">
                          <h4 class="title">Chương trình tour 1 ngày</h4>
                          <ul class="list list-date-time">
                            <li class="item">
                              <p><b class="text-blue">7h45-8h00</b> Xe và Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h00-8h15</b> Xe đón quý khách tại Hội An</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h00</b> Đến cảng Cảng Cửa Đại. Làm các thủ tục bảo hiểm</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h45</b> Trải nghiệm cảm giác cỡi sóng, lướt gió bằng cano cao tốc bắt đầu hành trình khám phá biển đảo cù lao chàm</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">9h00</b> Cano cập bến Cảng Cù Lao Chàm, HVD đón khách đi tham quan các điểm tại bãi làng – đảo duy nhất trong 8 đảo có người dân sinh sống</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">10h00</b> Cano chở quý khách đến khu du lịch sinh thái Bãi Ông Nghỉ mát tại nhà hàng, để hành lý, thay trang phục tắm biển.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">10h20</b> Cano chở quý khách đến Bãi xếp hoặc Hòn Dài (bãi rạng san hô), du khách được trang bị áo phao, mắt kính, ống thở để tham gia chương trình tắm biển ngắm san hô cùng với nhiều loài sinh vật biển tại đây.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">11h00</b> Du khách sẽ được quay lại bãi làng tắm nước ngọt và dùng bữa tại nhà hàng tại Nhà hàng trên Đảo với những món hải sản tươi ngon của Cù Lao Chàm như điệp nướng mỡ hành, mực xào chua ngọt, cá nướng giấy bạc, đặc sản rau rừng….cùng bữa cơm dân dã và vô cùng đặc sắc. (có thực đơn kèm theo)</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">14h00</b> Chia tay Cù Lao Chàm, ca nô  sẽ đưa quý khách về lại bến Cửa Đại.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">15h30</b> Đến điểm đón ban đầu.</p>
                            </li>
                          </ul>
                          <div class="slider-image">
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                          </div>
                        </div>
                        <div id="tab-3" class="tab-item">
                        tab3
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="tour-comment">
                      <h5 class="title">Bình luận của bạn về tour này</h5>
                    </div>
                  </div>
                  <div class="list-tour-categories">
                    <h3 class="block-title has-line bottom text-left ml15 mr15 mb20 pt35"><span class="text pl0">Tour du lịch khác</span></h3>
                    <div class="other-tours-content">
                      <div class="other-tours">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                          <div class="block-content">
                            <img src="images/image-tour-1.png" class="c-image" alt="" />
                            <a href="#" class="bg-image-effect-zoom"><span class="bg-image" style="background-image: url(images/image-tour-1.png)"></span></a>
                            <div class="info">
                              <h4 class="c-title"><a href="#">Cano Kéo Dù Bay</a></h4>
                              <div class="detail">
                                <p class="text"><span>Hình thức:</span> Thuê cano</p>
                                <p class="text"><span>Địa điểm:</span> Cù Lao Chàm - Quảng Nam</p>
                              </div>
                            </div>
                            <div class="book-tour">
                              <span class="text-price">2.000.000 VND</span>
                              <button class="btn btn-effect btn-book-tour"><span>Đặt tour</span></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                          <div class="block-content">
                            <img src="images/image-tour-2.png" class="c-image" alt="" />
                            <a href="#" class="bg-image-effect-zoom"><span class="bg-image" style="background-image: url(images/image-tour-2.png)"></span></a>
                            <div class="info">
                              <h4 class="c-title"><a href="#">Thuê cano cao tốc</a></h4>
                              <div class="detail">
                                <p class="text"><span>Hình thức:</span> Thuê cano</p>
                                <p class="text"><span>Địa điểm:</span> Cù Lao Chàm - Quảng Nam</p>
                              </div>
                            </div>
                            <div class="book-tour">
                              <span class="text-price">2.000.000 VND</span>
                              <button class="btn btn-effect btn-book-tour"><span>Đặt tour</span></button>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                          <div class="block-content">
                            <img src="images/image-tour-3.png" class="c-image" alt="" />
                            <a href="#" class="bg-image-effect-zoom"><span class="bg-image" style="background-image: url(images/image-tour-3.png)"></span></a>
                            <div class="info">
                              <h4 class="c-title"><a href="#">Vé Cano Cù Lao Chàm</a></h4>
                              <div class="detail">
                                <p class="text"><span>Hình thức:</span> Thuê cano</p>
                                <p class="text"><span>Địa điểm:</span> Cù Lao Chàm - Quảng Nam</p>
                              </div>
                            </div>
                            <div class="book-tour">
                              <span class="text-price">2.000.000 VND</span>
                              <button class="btn btn-effect btn-book-tour"><span>Đặt tour</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="right-news-container">
                  <div class="right-content pt0 pl0 pr0 pb0 bd0">
                    <div class="calendar-content">
                      <div class="left">
                        <p class="txt-date"><b>02</b> Ngày</p>
                      </div>
                      <div class="right">
                        <p class="txt-date"><b>01</b> Đêm</p>
                      </div>
                      <div class="clearfix"></div>
                      <div class="detail">
                        <p class="text"><span>Khởi hành:</span> <b>12/07/2017</b></p>
                        <p class="text"><span>Nơi khởi hành:</span> <b>Quảng Nam</b></p>
                        <p class="text"><span>Điểm đến:</span> <b>Cù Lao Chàm</b></p>
                      </div>
                      <div class="price">
                        <span class="txt-label">Giá trọn gói:</span>
                        <p class="txt-price">2.000.000 VNĐ</p>
                      </div>
                      <div class="button">
                        <button class="btn btn-effect btn-book-tour"><span>Đặt tour ngay</span></button>
                      </div>
                      <div class="contact-info">
                        <p class="text"><span>Tư vấn tour:</span> <span class="text-red">0235 3919 917</span></p>
                        <p class="text"><span>Hotline:</span> <span class="text-red">0932 569 966 (24/24)</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>