<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Tour - Chi tiết"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      <div class="block-container news-page-container other-services">
        @@include('../partials/breadcrumb.html')
        <div class="container-fluid">
          <div class="row">
            <div class="center">
              <div class="col-sm-8 col-md-9 pb20">
                <div class="row">
                  <h3 class="block-title has-line bottom text-left ml15 mr15 pt35"><span class="text pl0">Tour Cù Lao Chàm 1 ngày 1 đêm</span></h3>
                  <p class="page-introduction pt10"><b>Cù Lao Chàm</b> là một cụm đảo thuộc xã đảo Tân Hiệp, thành phố Hội An, tỉnh Quảng Nam, cách bờ biển Cửa Đại 15km,  cách Hội An tầm khoảng 18km Đây là khu vực được UNESCO công nhận là Khu dự trữ sinh quyển thế giới vào năm 2009. Du lịch Cù Lao Chàm mấy năm trở lại đây thu hút khá nhiều du khách bởi vẻ đẹp hoang sơ của các bãi biển, và dịch vụ du lịch ổn định. Nếu có dịp đi miền trung Huế, Đà Nẵng, Hội An  thì nhất định phải ghé Cù Lao Chàm - một thiên đường biển tuyệt đẹp ấy lòng du khách.</p>
                  <div class="tour-detail">
                    <div class="tab-container">
                      <div class="tab-header">
                        <ul class="list">
                          <li class="tab-header-item">
                            <a href="#" class="item active">Lịch trình</a>
                          </li>
                          <li class="tab-header-item">
                            <a href="#" class="item">Thông tin chi tiết</a>
                          </li>
                          <li class="tab-header-item">
                            <a href="#" class="item">Điều khoản sử dụng</a>
                          </li>
                        </ul>
                      </div>
                      <div class="tab-content">
                        <div class="tab-1">
                          <h4 class="title">Chương trình tour 1 ngày</h4>
                          <ul class="list list-date-time">
                            <li class="item">
                              <p><b class="text-blue">7h45-8h00</b> Xe và Hướng dẫn viên đón du khách tại khách sạn Đà Nẵng</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h00-8h15</b> Xe đón quý khách tại Hội An</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h00</b> Đến cảng Cảng Cửa Đại. Làm các thủ tục bảo hiểm</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">8h45</b> Trải nghiệm cảm giác cỡi sóng, lướt gió bằng cano cao tốc bắt đầu hành trình khám phá biển đảo cù lao chàm</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">9h00</b> Cano cập bến Cảng Cù Lao Chàm, HVD đón khách đi tham quan các điểm tại bãi làng – đảo duy nhất trong 8 đảo có người dân sinh sống</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">10h00</b> Cano chở quý khách đến khu du lịch sinh thái Bãi Ông Nghỉ mát tại nhà hàng, để hành lý, thay trang phục tắm biển.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">10h20</b> Cano chở quý khách đến Bãi xếp hoặc Hòn Dài (bãi rạng san hô), du khách được trang bị áo phao, mắt kính, ống thở để tham gia chương trình tắm biển ngắm san hô cùng với nhiều loài sinh vật biển tại đây.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">11h00</b> Du khách sẽ được quay lại bãi làng tắm nước ngọt và dùng bữa tại nhà hàng tại Nhà hàng trên Đảo với những món hải sản tươi ngon của Cù Lao Chàm như điệp nướng mỡ hành, mực xào chua ngọt, cá nướng giấy bạc, đặc sản rau rừng….cùng bữa cơm dân dã và vô cùng đặc sắc. (có thực đơn kèm theo)</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">14h00</b> Chia tay Cù Lao Chàm, ca nô  sẽ đưa quý khách về lại bến Cửa Đại.</p>
                            </li>
                            <li class="item">
                              <p><b class="text-blue">15h30</b> Đến điểm đón ban đầu.</p>
                            </li>
                          </ul>
                          <div class="slider-image">
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                            <div class="slider-item">
                              <img src="images/image-slider-1.png" alt="" />
                            </div>
                          </div>
                        </div>
                        <div class="tab-2">
                        </div>
                        <div class="tab-3">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="image-banner">
                      <a href="#"><img src="images/image-tour-large-2.png" alt="" /></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="right-news-container">
                  <div class="right-content">
                    <h3 class="right-block-title">Tour du lịch khác</h3>
                    <ul class="list-right other-right-services">
                      <li class="item">
                        <a href="#"><span class="ficon-location"></span>Tour Bà Nà</a>
                      </li>
                      <li class="item">
                        <a href="#"><span class="ficon-location"></span>Tour Hội An</a>
                      </li>
                      <li class="item">
                        <a href="#"><span class="ficon-location"></span>Tour Núi Thần Tài</a>
                      </li>
                      <li class="item">
                        <a href="#"><span class="ficon-location"></span>Tour Quảng Ngãi</a>
                      </li>
                    </ul>
                  </div>
                  <div class="right-content mt15">
                    <h3 class="right-block-title">Tin du lịch mới</h3>
                    <ul class="list-right">
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title bd0"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                    </ul>
                    <div class="view-more pb0">
                      <a href="#" class="link-view-more">Xem thêm <span class="ficon-move-to-next"></span></a>
                    </div>
                  </div>
                </div>
                <div class="right-news-container right-service-container pt15 pb20">
                  <div class="right-content">
                    <h3 class="right-block-title">Thuê xe du lịch</h3>
                    <ul class="list-right">
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-car-1.png)">
                          <a href="#"><img src="images/image-car-1.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="#">Xe du lịch 4 chỗ</a></h5>
                          <div class="detail">
                            <p class="text"><span>Hãng xe:</span> BMW</p>
                            <p class="text"><span>Chi phí:</span> <b class="text-red">600.000 VNĐ / 1 người</b></p>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-car-2.png)">
                          <a href="#"><img src="images/image-car-2.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="#">Xe du lịch 4 chỗ</a></h5>
                          <div class="detail">
                            <p class="text"><span>Hãng xe:</span> BMW</p>
                            <p class="text"><span>Chi phí:</span> <b class="text-red">600.000 VNĐ / 1 người</b></p>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-car-3.png)">
                          <a href="#"><img src="images/image-car-3.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="#">Xe du lịch 4 chỗ</a></h5>
                          <div class="detail">
                            <p class="text"><span>Hãng xe:</span> BMW</p>
                            <p class="text"><span>Chi phí:</span> <b class="text-red">600.000 VNĐ / 1 người</b></p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="view-more pb0">
                      <a href="#" class="link-view-more">Xem thêm <span class="ficon-move-to-next"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>