<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Đảo Chàm - Tin du lịch"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      <div class="block-container news-page-container">
        @@include('../partials/breadcrumb.html')
        <div class="container-fluid">
          <div class="center">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-9">
                <h3 class="block-title has-line bottom text-left ml0 pt35"><span class="text pl0">Tin du lịch</span></h3>
                <div class="highlight-news">
                  <div class="image" style="background-image: url(images/image-news-8.png)">
                    <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                  </div>
                  <div class="content">
                    <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                    <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                    <span class="text-gray">17/07/2017</span>
                  </div>
                </div>
                <div class="list-news">
                  <ul class="list">
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                    <li class="item">
                      <div class="image" style="background-image: url(images/image-news-8.png)">
                        <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                      </div>
                      <div class="content">
                        <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                        <p class="description">Du lịch Cù Lao Chàm không phải là một chủ đề nhỏ để có thể nói hết trong bài viết này được vì vậy Đảo Chàm Travel...</p>
                        <span class="text-gray">17/07/2017</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="right-news-container">
                  <div class="right-content">
                    <h3 class="right-block-title">Tin du lịch mới</h3>
                    <ul class="list-right">
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                      <li class="item">
                        <div class="image" style="background-image: url(images/image-news-8.png)">
                          <a href="travel-news-detail.html"><img src="images/image-news-8.png" alt="" /></a>
                        </div>
                        <div class="content">
                          <h5 class="news-title"><a href="travel-news-detail.html">Khám phá các đặc sản trong tour du lịch Cù Lao Chàm</a></h5>
                          <span class="text-gray">17/07/2017</span>
                        </div>
                      </li>
                    </ul>
                    <div class="view-more pb0">
                      <a href="#" class="link-view-more">Xem thêm <span class="ficon-move-to-next"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>