<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "Đảo Chàm - Videos"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <section class="main-container">
      <div class="block-container gallery-container video-container">
        @@include('../partials/breadcrumb.html')
        <div class="container-fluid">
          <div class="row">
            <div class="center">
              <div class="col-xs-12">
                <h3 class="block-title has-line bottom text-left ml0 pt35"><span class="text pl0">Khách đồng hành cùng đảo chàm travel</span></h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="center">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-2.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-2.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm Đoàn tham quan tour Cù Lao Chàm Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-3.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-3.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-4.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-4.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-5.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-5.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-6.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-6.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-7.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-7.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-8.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-8.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-9.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-9.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="slider-item">
                  <div class="image">
                    <img src="images/image-gallery-10.png" alt="" />
                    <a href="video-detail.html" class="video-item">
                      <span class="bg-image" style="background-image: url(images/image-gallery-10.png);"></span>
                    </a>
                  </div>
                  <div class="content">
                    <h4 class="gallery-title video-title video-title-space"><a href="gallery-detail.html"><span>Đoàn tham quan tour Cù Lao Chàm</span></a></h4>
                    <span class="date-video">11/04/2017</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>
