.news-page-container {
  .text-result {
    color: #212121;
    @include rem('font-size', 24);
    font-weight: 700;
    padding: 30px 0;
  }
  .list-search-result {
    .image {
      max-width: 275px;
      width: 31%;
      height: 170px;
      @include breakpoint(767) {
        max-width: none;
        width: 100%;
      }
    }
    .detail {
      .text {
        color: #212121;
        @include rem('font-size', 14);
        padding-bottom: 10px;
      }
      span {
        color: #666;
      }
      .text-blue {
        color: #005CB5;
      }
      .btn-book-tour {
        background-color: #FF800F;
        border: 1px solid #FF800F;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        border-radius: 100px;
        color: #fff;
        @include rem('font-size', 16);
        font-weight: 500;
        height: 31px;
        padding: 0 20px;
        span {
          color: #fff;
        }
        &:hover {
          background-color: #E46B00;
        }
      }
    }
  }
  .type-video {
    .image {
      position: relative;
      a::before {
        background-color: rgba(46, 50, 53, .3);
        content: '\e907';
        color: #fff;
        font-family: 'clc';
        font-size: 35px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 4.73365;
        z-index: 10;
      }
    }
  }
}