.tour-detail {
  padding: 0 15px 15px;
  .tab-container {
    .tab-header {
      white-space: nowrap;
      @include breakpoint(767) {
        overflow: auto;
      }
      .tab-header-item {
        display: inline-block;
      }
      .item {
        color: #212121;
        display: block;
        @include rem('font-size', 14);
        font-weight: 500;
        border-top: 3px solid transparent;
        border-bottom: 1px solid #e0e9ec;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin-bottom: -1px;
        padding: 13px 40px;
        text-transform: uppercase;
        @include breakpoint(992) {
          padding: 10px;
          @include rem('font-size', 12);
        }
        &.active {
          background-color: #f9f9f9;
          border-top: 3px solid #005cb5;
          border-bottom-color: #f9f9f9;
          border-left-color: #e0e9ec;
          border-right-color: #e0e9ec;
        }
      }
    }
    .tab-content {
      background-color: #f9f9f9;
      border: 1px solid #e0e9ec;
      padding: 20px 20px 40px;
    }
    .tab-item {
      background-color: #fff;
      display: none;
      padding: 15px 20px 20px;
      .title {
        color: #005cb5;
        @include rem('font-size', 21);
        padding-bottom: 15px;
      }
      &:first-child {
        display: block;
      }
    }
    .list-date-time {
      .item {
        padding: 10px;
        p {
          color: #212121;
          @include rem('font-size', 14);
        }
        &::before {
          background-color: #005cb5;
          border-radius: 20px;
          content: '';
          float: left;
          width: 5px;
          height: 5px;
          margin: 6px 10px 0 0;
        }
      }
      .text-blue {
        color: #005cb5;
      }
    }
  }
  .slider-image {
    max-width: 450px;
    margin: 0 auto;
  }
}
.other-tours-content {
  @include breakpoint(800) {
    overflow: auto;
    .other-tours {
      width: 767px;
    }
  }
}
.tour-comment {
  padding: 15px 0;
}
.calendar-content {
  .left {
    float: left;
    padding: 5px 15px;
    width: 50%;
    text-align: center;
    position: relative;
    &::after {
      background-color: #dbdbdb;
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
  .right {
    float: right;
    padding: 5px 15px;
    width: 50%;
    text-align: center;
  }
  .txt-date {
    color: #005cb5;
    @include rem('font-size', 14);
    b {
      @include rem('font-size', 32);
    }
  }
  .detail {
    border-top: 1px solid #dbdbdb;
    padding: 15px;
    .text {
      color: #2c2c2c;
      @include rem('font-size', 14);
      line-height: 1.9324;
    }
  }
  .price {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 15px;
    padding: 15px;
    .txt-label {
      @include rem('font-size', 13);
      text-transform: uppercase;
    }
    .txt-price {
      color: #005cb5;
      @include rem('font-size', 24);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .button {
    text-align: center;
    padding: 20px;
  }
  .btn-book-tour {
    background-color: #ff800f;
    border: 1px solid #ff800f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    display: inline-block;
    color: #fff;
    @include rem('font-size', 16);
    font-weight: 400;
    padding: 8px 30px;
    text-transform: uppercase;
  }
  .contact-info {
    border-top: 1px solid #dbdbdb;
    @include rem('font-size', 14);
    padding: 15px;
    font-weight: 500;
    line-height: 1.9;
    .text-red {
      color: #d0011b;
    }
  }
}

.form-content {
  .form-item {
    padding-bottom: 30px;
  }
  .form-label {
    color: #212121;
    display: block;
    @include rem('font-size', 14);
    text-transform: uppercase;
    padding-bottom: 10px;
    .required {
      color: #72889d;
      @include rem('font-size', 12);
      font-weight: 400;
      float: right;
      text-transform: none;
    }
  }
  .form-control {
    border-color: #e0e9ec;
    box-shadow: none;
    @include rem('font-size', 12);
  }
}
.book-tour-content {
  .total-content {
    background-color: #f9f9f9;
    line-height: 1.9;
    .txt-total {
      color: #005cb5;
      @include rem('font-size', 14);
      font-weight: 600;
      padding: 15px;
      text-transform: uppercase;
    }
    .number {
      color: #ff800f;
      @include rem('font-size', 24);
      float: right;
      line-height: 1;
    }
  }
  .contact-info {
    border-top: 1px solid #dbdbdb;
    @include rem('font-size', 14);
    padding: 15px;
    font-weight: 500;
    line-height: 1.9;
    .text-red {
      color: #d0011b;
    }
  }
}

.book-tour-page-container {
  background-color: #fff;
  .block-title {
    color: #212121;
    font-family: 'roboto';
    @include rem('font-size', 32);
    text-transform: none;
    .text {
      background-color: #fff;
    }
    &::after {
      border-bottom: 2px solid #005cb5;
      content: "";
      display: block;
      width: 42px;
      margin-top: 5px;
    }
  }
  .book-detail {
    padding: 15px 0;
    .tour-title {
      color: #005cb5;
      @include rem('font-size', 22);
      font-weight: 600;
      padding-bottom: 20px;
      text-transform: uppercase;
    }
    .text {
      color: #2c2c2c;
      @include rem('font-size', 14);
      line-height: 1.9324;
    }
    .text-blue {
      color: #005cb5;
    }
  }
  .button {
    text-align: center;
    padding: 20px;
  }
  .btn-book-tour {
    background-color: #005cb5;
    border: 1px solid #005cb5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    display: inline-block;
    color: #fff;
    @include rem('font-size', 16);
    font-weight: 400;
    padding: 8px 30px;
    text-transform: uppercase;
  }
}

.list-schedule {
  list-style: none;
  .item {
    overflow: hidden;
    padding-bottom: 20px;
  }
  .image {
    float: left;
    max-width: 235px;
    margin-right: 25px;
    @include breakpoint(800) {
      max-width: 135px;
    }
    @include breakpoint(700) {
      max-width: 100%;
      float: none;
      margin: 0 0 20px;
    }
  }
  .info {
    overflow: hidden;
  }
  .item-title {
    color: #005CB5;
    @include rem('font-size', 15);
    padding-bottom: 10px;
  }
  .description {
    color: #212121;
    @include rem('font-size', 14);
  }
}