@media screen and (max-width: 1215px) {
  .center {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .main-navigation {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    visibility: hidden;
    opacity: 0;
    left: -100%;
    z-index: 10000;
    @include transition(all .5s ease);
    &.is-opend {
      left: 0;
      @include transition(all .5s ease);
      visibility: visible;
      opacity: 1;
    }
    .btn-close-menu {
      position: absolute;
      top: -25px;
      right: 20px;
      &:active {
       box-shadow: none;
      }
    }
    .image-logo {
      display: block;
      width: 200px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .navigation-list {
      border-top: 1px solid #DEE5ED;
      margin: 15px -15px 0;
      padding: 15px 20px;
      height: calc(100vh - 100px);
      overflow: auto;
      .select-language .select2-container--default .select2-selection--single {
        height: 25px;
      }
      .select-language .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 25px;
        line-height: 25px;
        text-align: right;
      }
    }
  }
  .main-navigation .navigation-list .list .item {
    display: block;
    text-align: left;
    .arrow-box {
      &:after {
        border-top-color: #212121;
        top: 40%;
      }
    }
    a {
      color: #212121;
      font-weight: 500;
      padding: 5px 0;
    }
    &:first-child {
      display: none;
    }
    &.active {
      a {
        background: none;
        color: #007BFF;
      }
    }
  }
  .main-navigation .navigation-list .sub-nav, .main-navigation .navigation-list .item:hover .sub-nav {
    position: relative;
    top: auto;
    left: auto;
    visibility: visible;
    padding-left: 20px;
    opacity: 1;
    display: none;
    transition: none;
    .sub-item {
      transition: none;
      a {
        text-transform: none;
      }
    }
  }
}