.main-banner {
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  .slick-dots {
    bottom: 35px;
    li {
      button:before {
        background-color: rgba(255, 255, 255, .4);
        border-radius: 25px;
        content: "";
        width: 14px;
        height: 14px;
        opacity: 1;
        @include breakpoint(767) {
          width: 10px;
          height: 10px;
        }
      }
      &.slick-active {
        button:before {
          background-color: #FFF;
        }
      }
      @include breakpoint(767) {
        width: 10px;
      }
    }
    @include breakpoint(767) {
      bottom: 10px;
    }
  }
  @include breakpoint(767) {
    &.slick-dotted.slick-slider {
      margin-bottom: 10px;
    }
  }
}
