.footer-container {
  background-color: #FFF;
  padding: 30px 0;
  .left-content {
    float: left;
    width: 255px;
    @include breakpoint(1016) {
      padding-bottom: 20px;
      width: auto;
    }
  }
  .right-content {
    float: right;
    white-space: nowrap;
  }
  .footer-logo {
    padding-bottom: 15px;
    a {
      display: block;
      width: 233px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .text-copyright {
    color: #212121;
    @include rem('font-size', 13);
    line-height: 1.692308;
  }
  .footer-navigation {
    padding: 15px 0 19px;
    .menu-title {
      color: #005CB5;
      font-weight: 700;
      @include rem('font-size', 14);
      text-transform: uppercase;
      padding-bottom: 15px;
    }
    .menu-item {
      border-left: 1px solid #D8D8D8;
      display: inline-block;
      padding: 0 30px 18px 20px;
      vertical-align: top;
      &:first-child {
        border: none;
        padding-left: 0;
      }
      .item {
        a {
          color: #212121;
          @include rem('font-size', 13);
          &:hover {
            color: #005CB5;
          }
        }
      }
      @include breakpoint(1170) {
        padding: 0 5px 18px;
      }
    }
    @include breakpoint(1016) {
      display: none;
    }
  }
  .social-link {
    .item {
      padding: 0 12px 0 0;
    }
    .btn {
      width: 36px;
      height: 36px;
      line-height: 37px;
      font-size: 17px;
    }
  }
}

.contact-info {
  border-top: 1px solid #D8D8D8;
  padding-top: 20px;
  .title {
    color: #005CB5;
    font-weight: 700;
    @include rem('font-size', 14);
    text-transform: uppercase;
    padding-bottom: 19px;
    @include breakpoint(767) {
      clear: both;
      padding: 25px 0px 15px;
    }
  }
  .text-info {
    color: #212121;
    @include rem('font-size', 13);
    line-height: 1.692308;
  }
  @include breakpoint(767) {
    padding-top: 0;
  }
}