<footer class="footer-container">
  <div class="container-fluid">
    <div class="center">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-content">
            <div class="left-content">
              <div class="footer-logo">
                <a href="#"><img src="images/image-logo.png" alt="Đảo Chàm Travel" /></a>
              </div>
              <p class="text-copyright">Đơn vị thuộc Hiệp hội Du lịch Cù Lao Chàm, được phép tổ chức tour Cù Lao Chàm.</p>
              <p class="text-copyright">Copyright © 2017 - Đảo Chàm Travel</p>
            </div>
            <div class="right-content">
              <ul class="footer-navigation">
                <li class="menu-item">
                  <h4 class="menu-title">Tour du lịch nổi bật</h4>
                  <ul class="list">
                    <li class="item"><a href="#">Tour cù lao chàm 1 ngày</a></li>
                    <li class="item"><a href="#">Tour cù lao chàm 2 ngày 1 đêm</a></li>
                    <li class="item"><a href="#">Tour cù lao chàm - hội an 1 ngày</a></li>
                    <li class="item"><a href="#">Tour cù lao chàm khởi hành chiều</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <h4 class="menu-title">Tour du lịch khác</h4>
                  <ul class="list">
                    <li class="item"><a href="#">Tour Bà Nà</a></li>
                    <li class="item"><a href="#">Tour Núi Thần Tài</a></li>
                    <li class="item"><a href="#">Tour Hội An</a></li>
                    <li class="item"><a href="#">Tour Quảng Ngãi</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <h4 class="menu-title">Dịch vụ khác</h4>
                  <ul class="list">
                    <li class="item"><a href="#">Chơi dù bay</a></li>
                    <li class="item"><a href="#">Thuê cano siêu tốc</a></li>
                    <li class="item"><a href="#">Vé cano cù lao chàm</a></li>
                    <li class="item"><a href="#">Lặn biển ngắm san hô</a></li>
                  </ul>
                </li>
                <li class="menu-item">
                  <h4 class="menu-title">Cho thuê xe du lịch</h4>
                  <ul class="list">
                    <li class="item"><a href="#">Thuê Xe đi Bana 1 ngày</a></li>
                    <li class="item"><a href="#">Thuê Xe đi Núi Thần Tài 1 ngày</a></li>
                    <li class="item"><a href="#">Thuê Xe đi Cố Đô Huế 1 ngày</a></li>
                    <li class="item"><a href="#">Thuê Xe đi tham quan Đà Nẵng 1 ngày</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="contact-info">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="title">Kết nối với chúng tôi</h3>
            <div class="social-link">
              <ul class="list">
                <li class="item"><a href="#" class="btn btn-facebook"><span class="ficon-facebook"></span></a></li>
                <li class="item"><a href="#" class="btn btn-twitter"><span class="ficon-twitter"></span></a></li>
                <li class="item"><a href="#" class="btn btn-google-plus"><span class="ficon-google-plus"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="title">Trụ sở chính</h4>
            <p class="text-info">Địa chỉ: 161, Nguyễn Duy Hiệu, Tp Hội An</p>
            <p class="text-info">Điện thoại: 0235 3919 917 (Giờ hành chính) - Hotline: 0932 569 966 (24/24)</p>
          </div>
          <div class="col-sm-3">
            <h4 class="title">Văn phòng tại cảng cửa đại</h4>
            <p class="text-info">Địa chỉ: Lô số 16 - Cảng Cửa Đại - Hội An</p>
            <p class="text-info">Điện thoại: 0235 3919 917 (Giờ hành chính)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>